@font-face {
    font-family: 'Saphifen';
    src: url('Font/Saphifen.otf') format('oft'),
         url('Font/Saphifen.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Saphifen', sans-serif;
}








#body{ /*for å sørge for at alle elementer kan legge helt inntil margen på netsiden.*/
    margin: auto; 
}

#Vegg_fk{/*dette er bakrundsfarge for veggen*/
    background-color: #451F1F;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    
}


#Tavle_fk{/*dette er for tavlen som er helle svarte boksen*/
    background-color: black;
    width: 60%;
    height: 400px;
    margin-top: 120px;
    display: flex;
        
}

#avis_fk{ /* dette er foravisen der vi ser en ukjent person*/
    width: 20%;
    height: 130px;
    margin-top: 35px;
    margin-left: 35px;
}

#kode_fk{ /*dette er for den koden man skal skrive ferdig som er plakaten.*/
    background-color: #796D29;
    color: #996363;
    width: 140px;
    height: 60px;
    margin-top: 220px;
    margin-left: -160px;
    display: flex;
    justify-content: center;
    
}

#kart_fk{ /*dette er den boksen som har en slags kart*/
    width: 40%;
    height: 290px;
    margin-top: 35px;
    margin-left: 50px;
}

#boks_Usen_tekst_fk{/*dette */
    background-color: #ffffff;
    width: 15%;
    height: 180px;
    margin-top: 35px;
    margin-left: 25px;

}
#plakat_kode{/*dette er den koden som styrer plakaten som er gul der man ikke ser tekst*/
    background-color: #CAA15F;
    color: black;
    width: 10%;
    height: 90px;
    margin-top: 240px;
    display: flex;
    justify-content: center;
    align-items: center; /*dette gjør at teksten holder seg i midten av elementet av breden.*/
    margin-left: -90px;
    font-size: 13px;
    

}
#Tilbake_knapp{ /*dette er for å gå til bake-knappen*/
    background-color: #B86D2C;
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 30px; 
}

#Tilbake_knapp:hover{/*dette er for at når musen kommer over tilbake knappen blir den rød*/
    background-color: #e60000;
}

#sjekke_boks{ /*dette er den boksen brukeren skal trykke på når de har skrevet koden*/
    background-color: #B86D2C;
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20px;
}

#TekstKode{/*dette er feltet brukeren skal skrive inn koden*/
    width: 20%;
    height: 70px;
    border-radius: 30px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 400px;
}

#list_fk{/*dette er listen som skiller sluten av veggen og ned mot bakken*/
    background-color: #2B0909;
    width: 100%;
    height: 20px;
    
}

#gulv_fk{/*dette er for gulvet*/
    background-color: #505154;
    width: 100%;
    height: 136px;
    display: flex;  
    
}